//- Все примеси в этом файле должны начинаться c имени блока ( scroll )

//- Создаем кнопку
mixin scroll( mods )


  -
    var className = 'scroll'; // button - класс конструктора, по умолчанию указана пустая строка

    // список модификаторов
    var allMods = '';
      if( typeof( mods ) !== 'undefined' && mods ) {
      var modsList = mods.split( ',' );
      for ( var i = 0; i < modsList.length; i++ ) {
      allMods = allMods + ' ' + className + '--' + modsList[i].trim();
      }
    }



  p( class=className + allMods)&attributes( attributes )
    span( class="scroll__icon" )
