//- Все примеси в этом файле должны начинаться c имени блока ( page-header )

-
  var sectionName = 'page-header'

  var data = {
    topBar: {
      class: sectionName + '__top-bar'
    },
    inner: {
      class: sectionName + '__inner'
    },
    logo: {
      class: sectionName + '__logo'
    },
    section: {
      class: sectionName + '__main'
    },
    title: {
      class: sectionName + '__title'
    },
    link: {
      class: sectionName + '__link'
    },
    buttonStartFree: {
      class: sectionName + '__start-free'
    },
    description: {
      class: sectionName + '__description'
    },
    iconScroll: {
      class: sectionName + '__scroll'
    },
    navigation: {
      class: sectionName + '__navigation'
    },
    navigationMenu: {
      class: sectionName + '__navigation-menu'
    },
    authorization: {
      class: sectionName + '__authorization'
    },
    getStarted: {
      class: sectionName + '__get-started'
    },
    wrapperIcon: {
      class: sectionName + '__wrapper-icon'
    }
  }

  var topBarClasses = data.topBar.class
  var innerClasses = data.inner.class
  var logoClasses = data.logo.class
  var sectionClasses = data.section.class
  var titleClasses = data.title.class
  var linkClasses = data.link.class
  var buttonStartFreeClasses = data.buttonStartFree.class
  var getStartedClasses = data.getStarted.class
  var descriptionClasses = data.description.class
  var iconScrollClasses = data.iconScroll.class
  var wrapperIconClasses = data.wrapperIcon.class
  var navigationClasses = data.navigation.class
  var navigationMenuClasses = data.navigationMenu.class
  var authorizationClasses = data.authorization.class
