//- Все примеси в этом файле должны начинаться c имени блока ( advantages )

-
  var sectionName = 'advantages'

  var attributes = {
    title: {
      class: sectionName + "__title",
      mods: "",
    },
    list: {
      class: sectionName + '__list',
      mods: "",
    },
    listItem: {
      class: sectionName + '__item',
      mods: "",
    },
    subTitle: {
      class: sectionName + "__subtitle",
      mods: "",
    },
    text: {
      class: sectionName + '__text',
      mods: "",
    }
  }

  var titleClasses = attributes.title.class + ( typeof attributes.title.mods !== 'undefined' && attributes.title.mods !== '' ? attributes.title.mods : '' )
  var listClasses = attributes.list.class + ( typeof attributes.list.mods !== 'undefined' && attributes.list.mods !== '' ? attributes.list.mods : '' )
  var listItemClasses = attributes.listItem.class + ( typeof attributes.listItem.mods !== 'undefined' && attributes.listItem.mods !== '' ? attributes.listItem.mods : '' )
  var subTitleClasses = attributes.subTitle.class + ( typeof attributes.subTitle.mods !== 'undefined' && attributes.subTitle.mods !== '' ? attributes.subTitle.mods : '' )
  var textClasses = attributes.text.class + ( typeof attributes.text.mods !== 'undefined' && attributes.text.mods !== '' ? attributes.text.mods : '' )


